@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Baloo Thambi 2', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}